.text-content {
  font-family: "Poppins", sans-serif;
  font-size: 16x;
  color: #a6a6a6;
  text-align: justify;
}

.text-sub-content {
  font-family: "Poppins", sans-serif;
  font-size: 16x;
  color: #a6a6a6;
  text-align: center;
}

.text-heading {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-align: justify;
}

.text-main-heading {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  color: #ffffff;
  text-align: justify;
}

